@import '@/styles/_mixins';
@import '@/styles/_variables';

.layout {
  max-width: 100%;
  width: 96%;
  padding: 20px 0;
  background-color: $color-blue-extra-light;

  @include useMedia('min-width', $breakpoint-md) {
    padding: 40px 0;
  }

  @include useMedia('min-width', $breakpoint-md) {
    max-width: 1240px;
    padding: 60px 20px;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;

  @include useMedia('min-width', $breakpoint-md) {
    flex-direction: column;
  }

  @include useMedia('min-width', $breakpoint-lg) {
    flex-direction: row;
    gap: 60px;
  }
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.title {
  // color: $color-clean-white;
  margin-bottom: 30px;
}

.text {
  margin-bottom: 20px;
  // color: $color-clean-white;

  @include useMedia('min-width', $breakpoint-lg) {
    margin-bottom: 30px;
  }
}

.points {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.point1,
.point2 {
  position: relative;
  border-radius: 20px;

  &::before {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.39986;
  }
}

.point1 {
  color: $color-blue-dark;
  background-color: $color-clean-white;
  padding: 10px 41px 10px 55px;

  &::before {
    content: '1';
  }
}

.point2 {
  color: $color-clean-white;
  background-color: $color-blue-dark;
  padding: 10px 16px 10px 55px;

  &::before {
    content: '2';
  }
}

.textAccent {
  color: $color-blue-dark;
}

.textAccentPercentNumber {
  font-weight: 700;
  font-size: 32px;
}

.textAccentPercent {
  font-weight: 700;
  font-size: 24px;
}

.button {
  margin-bottom: 60px;
  border-radius: 16px;

  @include useMedia('min-width', $breakpoint-md) {}

  @include useMedia('min-width', $breakpoint-lg) {
    margin-bottom: 0;
  }
}

.factBlock {
  margin-bottom: 30px;
}

.imageWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  flex-shrink: 1;

  /* адаптивна ширина */
  @include useMedia('min-width', $breakpoint-md) {
    flex-direction: row;
  }

  @include useMedia('min-width', $breakpoint-lg) {
    flex-direction: column;
  }
}

.image {
  width: 100%;
  height: auto;
  min-height: 297px;
  object-fit: cover;
  border-radius: 20px;

  @include useMedia('min-width', $breakpoint-md) {
    width: calc((100% - 10px) / 2);
    min-height: 199px;
    border-radius: 17px;
  }

  @include useMedia('min-width', $breakpoint-lg) {
    width: 445px;
    height: 297px;
    flex: 1 1 auto;
  }
}