@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.leftSideContent {
  @include useMedia('min-width', $breakpoint-md) {
    width: 50%;
    padding: 100px 0;
  }
  @include useMedia('min-width', $breakpoint-xl) {
    margin-top: 26px;
    padding: 160px 0;
  }
}

.navWrapper {
  margin-bottom: 60px;

  display: flex;
  justify-content: space-between;

  @include useMedia('min-width', $breakpoint-md) {
    flex-direction: column;
    gap: 30px;
  }
}

.leftSideButton {
  display: block;
  margin: 0 auto;

  @include useMedia('min-width', $breakpoint-md) {
    margin: 0;
  }
}
