.Trigger {
  all: unset;

  margin: 0;
  padding: 10px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  color: #020e1c;

  background-color: #e6edf4;
  border-radius: 10px;
  border: 1px solid transparent;
  outline: none;


  font-weight: 400;
  font-size: 14px;
  line-height: 1;


  cursor: pointer;

  transition:
          border-color 0.3s ease-in-out,
          color 0.3s ease-in-out,
          background-color 0.3s ease-in-out;


  &:hover,
  &:focus {
    border-color: #020e1c;
  }

  &::placeholder {
    color: #718096;
    font-size: 12px;
  }

  &[data-placeholder] {
    color: #718096;
    font-size: 12px;
  }


}

.Icon {
  color: Var(--violet-11);
}

.Content {
  z-index: 100;
  box-sizing: border-box;
  position: relative;
  margin-top:40px;

  width: 100%;

  overflow: hidden;
  background-color: #e6edf4;
  border-radius: 10px;

  border: 1px solid #849AB4;
}

.Viewport {
  /*padding: 5px;*/
}

.Item {
  box-sizing: border-box;
  display: flex;
  align-items: center;


  padding: 10px;
  position: relative;
  user-select: none;
  cursor: pointer;

  &[data-disabled] {
    color: var(--mauve-8);
    pointer-events: none;
  }
  &[data-highlighted] {
    outline: none;
    background-color: var(--violet-9);
    color: var(--violet-1);
  }

  color: #9ca3af;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;

  transition: color 0.3s ease-in-out;


  &:not(:last-child) {
    border-bottom: 1px solid #849AB4
  };
}

.ItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: var(--violet-11);
  cursor: default;
}
