$font-outfit: var(--font-outfit);
$font-roboto: var(--font-roboto);

$color-clean-white: #ffffff;
$color-clean-black: #000000;
$color-black: #020e1c;
$color-blue-dark: #405f83;
$color-blue-light: #849ab4;
$color-blue-extra-light: #e6edf4;
$color-yellow: #ffc600;
$color-yellow-light: #fff9e2;
$color-aqua: #95f0f5;
$color-aqua-light: #e2fdff;
$color-red: #ee0e0e;
$color-red-light: #ffebeb;

$breakpoint-md: 768px;
$breakpoint-lg: 1199px;
$breakpoint-xl: 1320px;
