@import '_variables.scss';

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: $color-black;
  background: $color-clean-white;
  font-family: $font-outfit, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  display: block;
  padding: 0;
  cursor: pointer;
}
