@import '@/styles/_mixins';
@import '@/styles/_variables';

.workingHoursSection {
  margin-top: 90px;
  padding: 45px 0 90px 0;

  @include useMedia('min-width', $breakpoint-md) {
    padding: 50px 0 100px 0;
  }

  @include useMedia('min-width', $breakpoint-lg) {
    margin-top: 120px;
    padding: 83px 0 160px 0;
  }
}

.workingHoursContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &:hover .decorBackground {
    opacity: 1;
  }
  &:hover .decorPhone {
    opacity: 1;
  }

  @include useMedia('min-width', $breakpoint-md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  @include useMedia('min-width', $breakpoint-xl) {
    align-items: center;
  }
}

.sectionTitle {
  margin-bottom: 30px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;

  @include useMedia('min-width', $breakpoint-md) {
    text-align: left;
  }

  @include useMedia('min-width', $breakpoint-lg) {
    margin-bottom: 40px;

    font-size: 40px;
  }
}

.workingHoursSection .subTitle {
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 700;
  text-align: center;

  @include useMedia('min-width', $breakpoint-md) {
    text-align: left;
  }
}

.timeBox {
  margin-bottom: 40px;

  display: flex;
  gap: 10px;
  justify-content: center;

  @include useMedia('min-width', $breakpoint-md) {
    justify-content: flex-start;
  }
}

.contactList {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include useMedia('min-width', $breakpoint-lg) {
    gap: 10px;
  }
}

.contactListLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  &:hover .contactItemIcon {
    fill: $color-yellow;
  }

  &:hover .googleMapIcon {
    stroke: $color-yellow;
  }

  @include useMedia('min-width', $breakpoint-md) {
    flex-direction: row;
  }

  @include useMedia('min-width', $breakpoint-lg) {
    gap: 10px;
  }
}

.contactItemIcon {
  width: 25px;
  height: 25px;

  fill: $color-yellow;

  transition: fill 0.3s ease-in-out;
  @include useMedia('min-width', $breakpoint-xl) {
    fill: $color-black;
  }
}

.googleMapIcon {
  width: 25px;
  height: 25px;

  stroke: $color-yellow;

  transition: stroke 0.3s ease-in-out;
  @include useMedia('min-width', $breakpoint-xl) {
    stroke: $color-black;
  }
}

.googleMapImage {
  display: block;
  width: 100%;
  height: 300px;

  border: none;
  border-radius: 20px;

  @include useMedia('min-width', $breakpoint-md) {
    width: 350px;
    height: 250px;
  }

  @include useMedia('min-width', $breakpoint-xl) {
    width: 610px;
    height: 393px;
  }
}

.decorWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -2;
  overflow: hidden;

  transform: translate(-50%, -50%);
  width: 98%;
  height: 110%;

  border-radius: 20px;

  @include useMedia('min-width', $breakpoint-xl) {
    top: -50px;
    left: -50px;
    transform: translateY(0);

    width: calc(100% + 100px);
    height: calc(100% + 100px);
  }
}

.decorBackground {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;

  transform: translateY(-50%);
  width: 100%;
  height: 100%;

  border-radius: 20px;
  background-color: $color-blue-extra-light;
  opacity: 1;

  transition: opacity 0.3s ease-in-out;

  @include useMedia('min-width', $breakpoint-xl) {
    top: -50px;
    left: -50px;
    transform: translateY(0);

    width: calc(100% + 100px);
    height: calc(100% + 100px);

    opacity: 0;
  }
}

.decorPhoneWrapper {
  position: absolute;

  width: 264px;
  height: 264px;
  overflow: hidden;
  right: 0;
  bottom: -50px;
  z-index: 1;
  pointer-events: none;
}

.decorPhone {
  position: absolute;
  right: 0;
  bottom: -60px;
  z-index: -1;

  width: 264px;
  height: 264px;
  transform: scaleX(-1);
  opacity: 0;

  display: none;

  fill: $color-black;

  transition: opacity 0.3s ease-in-out;

  @include useMedia('min-width', $breakpoint-xl) {
    display: block;
  }
}
