@import '@/styles/_variables';
@import '@/styles/_mixins';

.faqSection {
  padding: 45px 0;

  @include useMedia('min-width', $breakpoint-md) {
    padding: 50px 0;
  }

  @include useMedia('min-width', $breakpoint-lg) {
    padding: 60px 0;
  }
}

.sectionTitle {
  margin-bottom: 30px;

  text-align: center;

  @include useMedia('min-width', $breakpoint-md) {
    margin-bottom: 50px;
  }

  @include useMedia('min-width', $breakpoint-lg) {
    margin-bottom: 60px;

    text-align: left;
  }
}
