@import '@/styles/_mixins';
@import '@/styles/_variables';

.container {
  margin-bottom: 30px;
  padding: 20px 10px;

  border-radius: 20px;
  background-color: $color-clean-white;

  @include useMedia('min-width', $breakpoint-md) {
    padding: 40px;
  }
}

.textWrapper {
  @include useMedia('min-width', $breakpoint-lg) {
    display: flex;
    justify-content: space-between;
  }
}


.title {
  margin-bottom: 40px;

  color: $color-blue-dark;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.4;
}

.age {
  color: $color-black;
  font-weight: 500;
}

.lossMoney {
  position: relative;
  color: $color-black;
  font-weight: 500;
  font-size: 51px;
}

.brBeforeAge {
  @include useMedia('min-width', $breakpoint-md) {
    display: none;
  }
}

.titleInner {
  @include useMedia('min-width', $breakpoint-md) {
    display: flex;
  }
}

.brBeforeLossMoney {
  @include useMedia('min-width', $breakpoint-md) {
    display: none;
  }
}

.infoButton {
  position: absolute;
  top: 0;
  right: -28px;
  border: none;
  background-color: transparent;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 26px;

  @include useMedia('min-width', $breakpoint-md) {
    display: flex;
    flex-direction: row;
    gap: 44px;
    justify-content: space-between;
    // margin-bottom: 26px;
  }



  @include useMedia('min-width', $breakpoint-lg) {
    margin-bottom: 0;
  }

  @include useMedia('max-width', 1246px) {
    gap: 20px;
  }
}

.item {
  display: flex;
  align-items: center;
  //justify-content: center;
  gap: 13px;

  @include useMedia('min-width', $breakpoint-md) {
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    max-width: 153px;

    &:last-child {
      max-width: 176px;
    }
  }

  @include useMedia('min-width', $breakpoint-lg) {
    max-width: 173px;

    &:last-child {
      max-width: 194px;
    }
  }
}

.itemText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;

  @include useMedia('min-width', $breakpoint-md) {
    font-size: 14px;
  }

  @include useMedia('min-width', $breakpoint-lg) {
    font-size: 16px;
  }
}

.itemTextSpan {
  color: $color-black;
  font-weight: 700;
}

.orderContainer {
  @include useMedia('min-width', $breakpoint-lg) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

  }
}

.orderText {

  margin-bottom: 20px;

  font-family: Outfit;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;

  @include useMedia('min-width', $breakpoint-md) {
    display: flex;
    justify-content: space-between;
  }

  @include useMedia('min-width', $breakpoint-lg) {
    // flex-direction: column;
    align-items: flex-end;

    margin-bottom: 0;
    font-size: 24px;

  }
}

.br {
  display: none;

  @include useMedia('min-width', $breakpoint-lg) {
    display: block;

  }
}

.orderFirstText {
  flex: 1 1 auto;

  @include useMedia('min-width', $breakpoint-lg) {}
}

.orderSecondText {
  display: flex;
  flex: 0 0 auto;
  align-items: flex-start;
  gap: 8px;

  @include useMedia('min-width', $breakpoint-md) {

    flex: 1 1 auto;

    justify-content: space-between;

  }

  @include useMedia('min-width', $breakpoint-lg) {}
}

.orderFree {
  flex: 0 1 auto;
  border: 1.50px dashed #ffc600;
  border-radius: 4px;
  padding: 2px 15px;

  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: $color-yellow;

  background: $color-yellow-light;

  @include useMedia('min-width', $breakpoint-lg) {}
}

.orderButton {
  @include useMedia('min-width', $breakpoint-lg) {
    position: relative;
    font-size: 16px;

    &::before {
      position: absolute;
      left: -123px;
      content: "";
      width: 111px;
      height: 57px;

      background-image: url("/img/home/calculatorSection/stepSixth/finish_arrow.png");
    }
  }
}

.buttonBack {
  @include useMedia('min-width', $breakpoint-lg) {
    font-size: 16px;
  }
}


.buttonsBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.button {
  z-index: 1;

  margin-top: 20px;
  width: 175px;

  background-color: transparent;

  & span {
    padding: 8px 30px;
  }

  @include useMedia('min-width', $breakpoint-lg) {
    margin-top: 40px;

    & span {
      padding: 8px 40px;
    }
  }
}

.button.buttonActive {

  & span {

    background-color: $color-yellow;
  }

  & svg {

    background-color: $color-yellow;
  }
}

.buttonBack {
  flex-direction: row-reverse;

  & svg {
    transform: rotate(180deg);
  }
}

.valid {
  border-color: $color-yellow;
  background-color: $color-yellow-light;

  &:hover,
  &:focus {
    border-color: $color-yellow;
  }
}

.invalid {
  border-color: $color-red;
  color: $color-red;
  background-color: $color-red-light;

  &:hover,
  &:focus {
    border-color: $color-red;
    background-color: $color-red-light;
  }
}