@import '@/styles/_variables';
@import '@/styles/_mixins';

.contactList {
  display: flex;
  flex-direction: column;
  gap: 29px;

  @include useMedia('min-width', $breakpoint-md) {
    flex-direction: row;
  }
}

.contactListLink {
  display: block;

  &:hover .contactItemIcon,
  &:focus .contactItemIcon {
    fill: $color-aqua;
  }
}

.contactItemIcon {
  width: 33px;
  height: 33px;

  fill: $color-clean-white;

  transition: fill 0.5s ease-in-out;
}
