@import '@/styles/_mixins';
@import '@/styles/_variables';

.ourRecommendationsSection {
  padding: 90px 0 45px 0;

  @include useMedia('min-width', $breakpoint-md) {
    padding: 100px 0 50px 0;
  }

  @include useMedia('min-width', $breakpoint-lg) {
    padding: 120px 0 60px 0;
  }
}

.sectionTitle {
  margin: 0 auto 30px auto;
  max-width: 350px;

  text-align: center;

  @include useMedia('min-width', $breakpoint-md) {
    margin: 0 auto 50px auto;
  }

  @include useMedia('min-width', $breakpoint-lg) {
    margin: 0 0 60px 0;

    text-align: left;
  }
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  @include useMedia('min-width', $breakpoint-md) {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 50xp;
    column-gap: 20px;
  }

  @include useMedia('min-width', $breakpoint-lg) {
    row-gap: 60xp;
    align-items: baseline;
    column-gap: 39px;
  }
}

.icon {
  scale: 1;

  transition: scale 0.3s ease-in-out;
}
