@import '@/styles/_variables.scss';
@import '@/styles/_mixins.scss';

.footerNavList {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include useMedia('min-width', $breakpoint-xl) {
    flex-direction: row;
  }
}

.footerNavLink {
  position: relative;
  font-size: 16px;
  color: $color-clean-white;
  transition: color 0.5s ease-in-out;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: $color-aqua;

    transition: width 0.5s ease-in-out;
  }

  &:hover,
  &:focus {
    color: $color-aqua;
  }

  &:hover:after,
  &:focus:after {
    width: 100%;
  }
}
